{% extends "_layouts/cp" %}

{% set crumbs = [
    { label: "setting.breadcrumb.setting"|t('videos'), url: url('settings') },
    { label: "setting.breadcrumb.plugin"|t('videos'), url: url('settings/plugins') },
    { label: "setting.breadcrumb.plugin.video"|t('videos'), url: url('videos/settings') }
] %}

{% set title = gateway.name %}

{% import "_includes/forms" as forms %}

{% set content %}
    <img src="{{ gateway.iconUrl }}" width="36"/>

    <h2>{{ "setting.gateway.account.title"|t('videos', {gatewayName: gateway.name}) }}</h2>

    {% if gateway.enabled %}
        <ul>
            <li>{{ "setting.gateway.account.name"|t('videos', {accountName: gateway.oauthAccount.name})|raw }}</li>
            <li>{{ "setting.gateway.account.id"|t('videos', {accountId: gateway.oauthAccount.id})|raw }}</li>
        </ul>

        <p>
            <a class="btn small" href="{{ gateway.oauthLogoutUrl }}">
                {{ "setting.gateway.logout"|t('videos', {gatewayName: gateway.name}) }}
            </a>
        </p>
    {% else %}
        <p>{{ "setting.gateway.login.help"|t('videos', {oauthSettingURL: url('videos/settings/'~gateway.handle~'/oauth')})|raw }}</p>
        <p>
            <a class="btn submit" href="{{ gateway.oauthLoginUrl }}">
                {{ "setting.gateway.login"|t('videos', {gatewayName: gateway.name}) }}
            </a>
        </p>
    {% endif %}
{% endset %}
