{% extends "_layouts/cp" %}

{% set fullPageForm = true %}

{% set crumbs = [
    { label: "setting.breadcrumb.setting"|t('videos'), url: url('settings') },
    { label: "setting.breadcrumb.plugin"|t('videos'), url: url('settings/plugins') },
    { label: "setting.breadcrumb.plugin.video"|t('videos'), url: url('videos/settings') },
    { label: gateway.name, url: url('videos/settings/'~gateway.handle) }
] %}

{% set title = "setting.oauth.title"|t('videos', { gatewayName: gateway.name }) %}

{% import "_includes/forms" as forms %}

{% set content %}
    <input type="hidden" name="action" value="videos/settings/save-gateway">
    {{ redirectInput('videos/settings/'~gateway.handle) }}
    <input type="hidden" name="gatewayHandle" value="{{ gateway.handle }}">

    <h2 class="first">{{ "setting.oauth.create.title"|t('videos') }}</h2>
    <p>{{ "setting.oauth.create.help"|t('videos', {oauthProviderApiConsoleUrl: gateway.getOauthProviderApiConsoleUrl(), oauthProviderName: gateway.oauthProviderName })|raw }}</p>
    
    <p>{{ "setting.oauth.create.params.title"|t('videos') }}</p>

    <ul class="bullets">
        <li>{{ "setting.oauth.create.params.oauth_javascript_origin"|t('videos', {oauthJavascriptOrigin: gateway.oauthJavascriptOrigin})|raw }}</li>
        <li>{{ "setting.oauth.create.params.oauth_redirect_url"|t('videos', {oauthRedirectUrl: gateway.oauthRedirectUrl})|raw }}</li>
    </ul>

    <h2>{{ "setting.oauth.configure.title"|t('videos') }}</h2>
    <p>{{ "setting.oauth.configure.help"|t('videos', { oauthProviderName: gateway.oauthProviderName }) }}</p>

    {{ forms.autosuggestField({
        name: 'clientId',
        label: "setting.oauth.configure.field.id"|t('videos'),
        value: (gateway.getOauthProviderOptions(false).clientId ?? null),
        suggestions: craft.cp.getEnvSuggestions(),
        suggestEnvVars: true,
    }) }}

    {{ forms.autosuggestField({
        name: 'clientSecret',
        label: "setting.oauth.configure.field.secret"|t('videos'),
        value: (gateway.getOauthProviderOptions(false).clientSecret ?? null),
        suggestions: craft.cp.getEnvSuggestions(),
        suggestEnvVars: true,
    }) }}

    <hr />

    <p><em>{{ "setting.oauth.help"|t('videos')|raw }}</em></p>
{% endset %}
