{% if video %}
    {% if video.loaded %}
        <div class="thumb">
            <img src="{{ video.thumbnail.smallestSourceUrl }}" />
            <div class="duration">{{ video.duration|durationNumeric }}</div>
            <div class="play" data-gateway="{{ video.gateway.handle }}" data-id="{{ video.id }}"></div>
        </div>

    <div class="videos-thumb">
            <p class="title"><strong title="{{ video.title }}">{{ video.title }}</strong></p>

            <ul class="light">
                <li><a class="light" href="{{ video.url }}">{{ video.url }}</a></li>
                <li>{{ "By"|t('videos') }} <strong><a href="{{ video.author.url }}" class="light">{{ video.author.name }}</a></strong></li>

                {% if video.statistic.playCount > 0 %}
                    <li>{{ video.statistic.playCount }} {{ "plays"|t('videos') }}</li>
                {% endif %}

                <li><a class="icon delete"></a></li>
            </ul>
        </div>
    {% else %}
        <ul>
            {% for error in video.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
